{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 80
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "printWidth": 80
            }
        },
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        }
    ]
}